html
{
    font-family: sans-serif;

    box-sizing: border-box;

    color: #eee;
}

*,
*:before,
*:after
{
    box-sizing: inherit;
}

html,
body
{
    background: #151515;
}


.controls
{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    width: 100%;
    height: 4em;
    padding: .5em;

    background: #333;
    box-shadow: 0 .1em 1em .1em rgba(0,0,0,.5);
}

.selector
{
    position: relative;

    float: left;

    width: 10em;
    height: 100%;

    transition: all 200ms;
    text-align: center;

    border-radius: .1em;
    background: #444;
}

.selector:hover
{
    background: #555;
}

.selector span
{
    line-height: 3em;

    position: relative;

    vertical-align: middle;
}

.selector input
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;

    opacity: 0;
}

.buttons
{
    float: right;

    height: 100%;
}

.buttons a
{
    font-size: 1.5em;
    line-height: 2em;

    display: inline-block;

    width: 2em;

    transition: all 200ms;
    text-align: center;
    text-decoration: none;

    color: inherit;
    border-radius: .1em;
    background: #444;
}

.buttons a:hover
{
    background: #555;
}

a.calc
{
    background: #1893f1;
}

a.calc:hover
{
    background: #3ea4f2;
}

.buttons .separator
{
    margin: 0 .5em;
}

.display
{
    position: relative;

    margin: 2.5em;
    margin-top: 7em;

    text-align: center;
}

.displayer
{
    display: block;

    max-width: 100%;
    margin: auto;

    box-shadow: -.5em .5em .3em .1em rgba(0, 0, 0, .4);
}

.box
{
    position: absolute;

    transition: background 100ms;
    pointer-events: none;

    border: 2px dashed rgba(255, 255, 255, .4);
    background: rgba(0, 0, 0, .3);
}

.box.evented
{
    pointer-events: auto;
}

.box.evented:hover
{
    background: rgba(0, 150, 255, .3);
}

.box.selected,
.box.selected:hover
{
    background: rgba(255, 20, 0, .3);
}

.ghost
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: crosshair;
}

.result
{
    position: fixed;
    right: 1em;
    bottom: 1em;

    width: 10em;
    height: 10em;
    padding: 1.5em;

    border-radius: .5em;
    background: #333;
}

.result .percentage
{
    font-size: 1.3em;
    font-weight: bold;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 4em;
    height: 1em;
    margin: auto;

    text-align: center;

    color: #eee;
}

.result canvas
{
    width: 100%;
    height: 100%;
}

.spacer
{
    width: 100%;
    height: 30em;
}
